<div class="background">
  <H1>Here are the available slot for the meeting: <%= @event.name %></H1>

  <ul>
    <% @event.slots.each do |slot| %>
      <li>start: <b><%= slot.start_time.to_datetime.strftime("%H:%M") %></b></li>
      <li>end: <b><%= slot.end_time.to_datetime.strftime("%H:%M") %></b></li>
      <li>status: <%= slot.status %></li>
      <li><br></li>
    <% end %>
  </ul>

</div>
