<H1>Here are the available slot for the meeting: <%= @event.name %></H1>

<ul>
  <% @event.slots.each do |slot| %>
    <li>start: <%= slot.start_time %>
        - end: <%= slot.end_time %>
        - status: <%= slot.status %>
  <% end %>
</ul>
