
.profile-container {
  padding: 20px;
  border-right: 3px;
  border-top: 3px;
  border-bottom: 3px;
  border-color: white;
  text-align: center;
  // background-image: linear-gradient(to top left,#0067FF,#0F56B9);
  color: white;
  max-width: 200px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
  font-family: 'Montserrat', sans-serif;
  top: 0;
  height: 100vh;
}

.profile-container h3 {
  font-family: 'Montserrat';
  text-decoration: underline;
}

.profile-container .btn-primary {
  background-color: #FFE900;
  color: white;
  border-radius: 20px;
  transition: 0.7s;
}

.profile-container .btn-primary:hover {
  color: #FFE900;
  background-color: white;
  border: solid black
}

.top-profile-container {
  display: block;
  justify-content: space-between;
  align-content: flex-end;
  height: max-content;
}

.avatar-picture img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border:solid white;
}

.dashboard-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  padding-left: 0px;
  top: 0;
}
.calendar-container {
  background-color: whitesmoke;
}
