.col-12 {
  padding: 30px;
  border: solid 3px;
  border-radius: 15px;
  border-color: white;
  margin: 20px 10px;
  text-align: center;
  background-color: white;
  color: black;
  width: 30%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
  font-family: 'Montserrat', sans-serif;
  position: center;
}

.body {
  background-image: linear-gradient(to top right,#0067FF,#0F56B9) ;
}

.col-12 h2 {
  font-family: 'Montserrat', sans-serif;
}

.col-12 h3 {
  font-family: 'Montserrat', sans-serif;
}
