.team-cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.team-card {
  margin-top: 50px;
  margin-bottom: 50px;
  // min-width: 260px;
  // max-width: 400px;
  height: 535px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 15px 15px 30px #bebebe,
              -15px -15px 30px #ffffff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  overflow: hidden;
  p {
    padding-top: 15px;
  }
  img {
    max-height:  275px;
    background-size: cover
  }
}

.team-card .name {
  margin: 15px 15px 0px 15px;
  padding-bottom: 20px;
  border-bottom: solid 1px gray;
}

.team-card .name h1 {
  font-size: 20px;
}

.team-card .mail {
  margin-top: 35px;
  font-size: 15px;

}
