.team-cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.team-card {
  margin-top: 50px;
  min-width: 260px;
  max-width: 400px;
  height: 550px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 15px 15px 30px #bebebe,
              -15px -15px 30px #ffffff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  overflow: hidden;
  h1 {
    padding-bottom: 20px;
    padding-top: 15px;
    font-size: 35px;
    border-bottom: 5px double grey;
  }
  p {
    padding-top: 15px;
  }
}

.team-card-picture {
img {
  max-height:  265px;
}
}

// navbar&sidebar color: #1d348a;
