.event-create-container {
  justify-content: center;
  min-width: 750px;
  align-self: center;
  color: white;
  padding: 20px;
  position: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-grow: 4;
}

.event-edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 750px;
  align-self: center;
  color: white !important;
  padding: 20px;
}

.new-event-form {
  max-width: 100%;
  width:100%;
}
.event-edit-container {
  flex-grow: 4 !important;
  flex-direction: row-reverse;
}
.new-events {
  padding: 30px;
  border: solid 3px;
  border-radius: 15px;
  border-color: white;
  margin: 20px 10px;
  text-align: center;
  background-color: white;
  color: black;
  width: fit-content;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
  font-family: ‘Montserrat’, sans-serif;
  position: center;
}
.new-events .mb-3 {
  text-align: left;
}

.create-meeting-btn:hover {
  filter: brightness(110%);
  color: #2d72da;
}

.create-meeting-btn {
  // background: linear-gradient( to left, rgb(82, 0, 27) 0%, rgb(163, 0, 54) 8%, rgb(163, 0, 54) 92%, rgb(82,0,27) 100% );
  background: rgb(9, 189, 185);
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
  transition: 0.7s;
  margin-bottom: 10px;
  border: none;
}
