.card-show {
  margin-top: 40px;
  margin-bottom: 40px;
  min-width: 300px;
  height: auto;
  border-radius: 30px;
  background: #fff;
  box-shadow: 15px 15px 30px #bebebe,
              -15px -15px 30px #ffffff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px;

 }


//  .card-show {
//   color: rgb(0, 0, 0);
//   background-color: rgb(255, 255, 255);
//   border-radius: 15px;
//   margin: 20px 10px;
//   box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
//   padding: 30px;
//   text-align: center;
//   height: auto;
//   max-width: 420px;
//   font-family: 'Poppins', sans-serif;
// }
.card-show .title {
  margin-top: 20px;
  border-bottom: solid 2px gray;
  padding-bottom: 5px;
  color: rgb(66, 27, 27);
}

.card-show .date {
  margin-top: 30px;
  display: flex;
  .icon {
    line-height: 32px;
    margin-right: 5px;
    font-size: 20px;
  }
  p {
    font-size: 18px;

  }
}

.card-show .time {
  text-align: left;
  margin-top: 10Px;
  padding-bottom: 10px;
  border-bottom: solid 1px gray;
}

.card-show .description {
  margin-top: 15px;
  display: flex;
  text-align: justify;
  .icon {
  line-height: 35px;
  margin-right: 20px;
  font-size: 20px;
  }
  p {
    font-size: 18px;
  }
}

.card-show .attendees {
  display: flex;
  text-align: left;
  text-align: start;
  margin-top: 20px;
  border-top: solid 1px gray;
  padding-top: 5px;
  padding-bottom: 5px;
  p {
    font-size: 15px;
  }
  ul li {
    list-style: none;
    padding-left: -1rem !important;
  }
}

.card-show .organiser {
  display: flex;
  text-align: left;
  text-align: start;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  p {
    font-size: 12px;
  }
}

.card-show #links {
align-content: left !important;
display: flex;
}
.card-show li {
  list-style: none;
  margin: 5px;
}
.card-show .icon {
  color: #3D75C1;
  font-size: 20px;
}

// .card-container{
//   // padding: 18px;
//   border-radius: 15px;
//   border-color: rgb(10, 29, 239);
//   // margin-top: 50px;
//   text-align: center;
//   background-color: rgb(255, 255, 255);
//   color: rgb(0, 0, 0);

//   box-shadow: 1px 7px 10px rgb(0, 0, 0);
//   font-family: 'Montserrat', sans-serif;
//   overflow: hidden;
//   display: flex;
// flex-direction: column;
// justify-content: space-between;
// max-height: 500px;

// max-width: 350px;
// h1 {
// color: black;
// }
// p {
// color: black;
// }
// }

// .card-container:hover{
//   box-shadow: 0 0 20px rgb(0, 0, 0);
//   transform: scale(1.08);
// }
// .card-contents {
//   padding: 10px;
//   width: 100%;
// }

// .title-discription {
//   padding-left: 19px;
//   padding-right: 19px;
//   display: flex;
//   flex-direction: column;
//   justify-content: left;

//   h1 {
//   font-size: 20px;
//   font-weight: 900;
//   }

//   p {
//   font-size: 13px;
//   }
// }

// .dates-links-wrapper {
//   background-color: rgb(255, 255, 255);
//   padding: 12px;
//   color: rgb(92, 113, 221);
// }
// .card-container h1 {
//   font-size: 30px;
// }

// .background {
//   position:center;
// }

// .created-attended-by {
//   padding-bottom: 10px;
//   padding-top: 40px;
//   padding-left: 12px;
//   display: flex;
//   flex-direction: column;
//   text-align: left;
//   color: rgb(92, 113, 221);
//   h2 {
//     font-size: 18px;
//     font-weight: bold;
//     margin-bottom: 0;
//     color: blue;
//   }
// }

// .dates {
//   font-size: 15px;
// }

// .card-links {
// display: flex;
// flex-direction: row;
// justify-content: space-between;
// }

// .mymeetings-container-show {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   padding: 35px;
//   flex-wrap: wrap;
// }
