.card-container{
  padding: 30px;
  border: solid 3px;
  border-radius: 15px;
  border-color: white;
  margin: 20px 10px;
  text-align: center;
  background-color: white;
  color: rgb(1, 1, 1);
  max-width: 300px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
  font-family: 'Montserrat', sans-serif;
  position: center !important;
}

.background {
  position:center;
}

.dates {
  font-size: 15px;
}

.card-links {
display: flex;
flex-direction: row;
}
