<div class="footer-basic">
    <footer>
        <div class="social">
         Find our open source code on Github: <a href="https://github.com/Ade2387/Meet-app"><i  class="icon ion-social-github"></i></a>
        </div>
        <p class="copyright">Meet-app.online © 2022</p>
    </footer>
</div>
</body>
</html>
