<div class="top-container">
  <div class="banner-content">
      <h1>Meet</h1>
      <p>Scheduling a meeting was never easier, let us do the work!</p>
      <%= image_tag('cartoon-meeting.png') %>
      <button id="banner-button">Sign up!</button>
  </div>
  <div class="bottom-container">
    <div class="top-info">this is the top info - IMAGE</div>
    <div class="mid-info">IMAGE - this is the bottom info</div>
    <div class="bottom-info">this is the bottom info IMAGE</div>
  </div>
</div>
