<div class="top-container">
  <div class="banner-content">
      <h1>Meet</h1>
      <p>Scheduling a meeting was never easier, let us do the work!</p>
      <%= image_tag('cartoon-meeting.png') %>
      <button id="banner-button">Sign up!</button>
      <a href="/redirect">dashboard events</a>
  </div>
  <div class="bottom-container">
    <h1>How does it work?</h1>
    <div class="top-info">
      <H1></H1>
    </div>
    <div class="mid-info">
    </div>
    <div class="bottom-info">
    </div>
  </div>
</div>
