.top-container {
  display: flex;

  img {
    height: 800px;
    max-width: auto;
    padding-left: 40px;
  }
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 80px;
  padding-right: 50px;
  padding-left: 50px;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 70px;
  }
  h2 {
    font-size: 20px;
    color: white;
    padding-bottom: 35px;
    padding-right: 30px;
    padding-bottom: 50px;
  }
  p {
    color: white;
    margin-bottom: 0;
  }

}

.instruction-heading {
  text-align: center;
}

.banner-content span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.banner-content span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;

}
.banner-content span a:before,
.banner-content span a:after{
  position: absolute;
  content: "SIGN UP";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(15, 15, 15);
  box-sizing: border-box;
  border-radius: 5px;
}
#discover {
  &::before, &::after {
    content: 'LEARN MORE' !important;
  }

}
.banner-content span a:before{
  color: rgb(251, 251, 251);
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.banner-content span a:after{
  color: rgb(0, 0, 0);
  transform: rotateX(90deg) translateZ(25px);
  background-color: white;
}
.banner-content span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.bottom-container {
  color: white;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 180px);
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-top: 50px;

  li:nth-child(-n+1) {
    justify-items: end;
  }

  p {
    max-width: 350px;
  }
}
.instruction-heading {
  color: white;
  margin-bottom: 30px;
  font-size: 70px;
}

.info-1 {
  display: flex;
  max-width: 450px;
  grid-column: 1;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  span {
    padding-right: 2rem;
    max-width: fit-content;
  }
  p {
    font-size: x-large;
  }
}


.info-2 {
  display: flex;
  max-width: 450px;
  grid-column: 2;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  span {
    padding-right: 2rem;
    max-width: fit-content;
  }
  p {
    font-size: x-large;
  }
}
.homebuttons {
display: flex;
}

@media screen and (max-width: 575px) {
  .top-container, .bottom-container {
    flex-direction: column;
  }
}
