.top-container {
  height: 1000px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-home.jpg");
  background-size: cover;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
  }
  img {
    height: 400px;
  }
}

#banner-button {

}
