.calendar-container {
  flex-grow: 4;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0px 0px 19px -7px #000000;
}
.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.meeting {
  color: white !important;
  padding: 3px 10px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  margin-top: 4px;
}

.meeting:hover {
  background: #19ac6c;
  color: white;
}

.meeting p {
  margin-bottom: 5px;
  color: #1d348a;
}

.simple-calendar a {
  text-decoration: none;
}

.simple-calendar a:hover {
  text-decoration: none;
}

.create-event-btn:hover {
  filter: brightness(110%);
}

.create-event-btn {
  // background: linear-gradient( to left, rgb(82, 0, 27) 0%, rgb(163, 0, 54) 8%, rgb(163, 0, 54) 92%, rgb(82,0,27) 100% );
  background: rgb(9, 189, 185);
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
  transition: 0.7s;
  margin-bottom: 10px;
  border: solid 2px rgb(9, 189, 185);
}

.calendar-title {
  margin: 15px
}

.containerJS {
  position: relative;
}
.card-remove-link {
  color: rgb(0, 0, 0);
  border-radius: 50%;
  // border: 1px solid white;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 3px;
  top: 3px;
  display: flex;
  opacity: 0;
  transform: rotate(45deg);
  font-weight: lighter;
  text-decoration: none;
}

.hover {
  color: rgb(124, 17, 17);
  opacity: 1;
}
