.calendar-container {
  flex-grow: 4;
  margin-left: 20px;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0px 0px 19px -7px #000000;
}
.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.meeting {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}

.simple-calendar a {
  text-decoration: none;
}

.create-event-btn:hover {
  filter: brightness(110%);
}

.create-event-btn {
  // background: linear-gradient( to left, rgb(82, 0, 27) 0%, rgb(163, 0, 54) 8%, rgb(163, 0, 54) 92%, rgb(82,0,27) 100% );
  background: rgb(9, 189, 185);
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
  transition: 0.7s;
  margin-bottom: 10px;
}

.calendar-title {
  margin: 15px
}
