.footer-basic {
  padding:10px 0;
  background-color: rgba(0,0,0,0.2);
  color:#ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
}

.footer-basic li {
  padding:0 5px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.7;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  justify-content: center;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  border-radius:50%;
  border:1px solid rgb(253, 250, 250);
  margin:0 8px;
  color:inherit;
  opacity:0.7;
}

.footer-basic .social > a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:rgb(252, 250, 250);
  margin-bottom:0;
}
