.navbar-lewagon {
  justify-content: space-between;
<<<<<<< HEAD
  background: #ffffff;
  border-bottom: black;
=======
  background-color: rgba(0,0,0,0.2);
  border-bottom: #A3BAC3;
>>>>>>> 83ccba268137909156b0c8a8490570fdb2f97968
}

.navbar {
  border-bottom: solid 2px#A3BAC3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-brand img {
  border: 1px black;
  border-radius: 10px;
}
.nav-link:hover {
  color: #0067FF
}

.navbar-title {
<<<<<<< HEAD
  color: #0067FF;
  font-family: 'Montserrat';
=======
  color: #f7f8f9;
  font-family: 'Poller One', cursive;
>>>>>>> 83ccba268137909156b0c8a8490570fdb2f97968
  width: 500px;
  height: 50px;
  text-align: center;

}

.navbar-title h3 {
  width:max-content;
  height: max-content;
  margin:auto;
  display: block;
  flex:auto;
<<<<<<< HEAD
  font-size: 50px;
  font-family: 'Montserrat';
  font-weight: bolder;

=======
  font-size: 30px;
>>>>>>> 83ccba268137909156b0c8a8490570fdb2f97968
}
.nav-link {
  color:#f3f5f7 !important;
  font-size: 26px;
  text-decoration: none;
  top: 30px;
  right: auto;
  position: center;
  font-family: 'Montserrat';
  padding: 1px;
}

.nav-link:hover {
  color: #A3BAC3 !important;
  padding: 0 0 0 30;
  text-decoration: underline;
  transition: 0.7s;
}
.nav-item img{
  position:center;
  left: -90px;
  border-radius: 50%;
}
.nav-item:hover{
  cursor: pointer;
  border-bottom: black;
}

.dropdown-item {
  color: #0067FF !important;
  background-color: #A3BAC3;
}


.dropdown-menu {
  background-color: #A3BAC3;
}
