.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
  border-bottom: #A3BAC3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-brand img {
  border: 1px black;
  border-radius: 10px;
}
.nav-link:hover {
color: #0067FF
}

.navbar-title {
  color: #0067FF;
  font-family: 'Poller One', cursive;
  width:400px;
  height: max-content;
  font: bold 100px;
  size: 100px;

}

.navbar-title p {
  width: 300px;
  height: 50px;
  margin:auto;
  display: block;
  flex:auto;
  font-size: 30px;
  font-family: 'Poller One';
  text-align: center;
}
.nav-link {
  color:#0067FF !important;
  font-size: 26px;
  text-decoration: none;
  top: 30px;
  right: 30px;
  position: absolute;
  font-family: 'Poller One';
  padding: 1px;
  float: right;
}

.nav-link:hover {
  color: #A3BAC3;
}
