.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
  border-bottom: #A3BAC3;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-brand img {
  border: 1px black;
  border-radius: 10px;
}
.nav-link:hover {
color: #0067FF
}
