@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;700&display=swap');

.navigation {
  // position: fixed;
  top: 20px;
  left: 20px;
  bottom:20px;
  width: 300px;
  border-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid #4d5bf9;
  background: #4d5bf9;
  transition: 0.5s;
  font-family: 'Poppins', sans-serif;

  position: sticky;
  top: 0px;
  left: 0px;
  height: 90vh;
  // background-color: transparent;
  // border-right: white solid 1px;
}

.navigation ul {
  position: absolute;
  top: 161px;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}

.navigation ul li b:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 20px;
  background: #4d5bf9;
}
.navigation ul li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}

.navigation ul li b:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
  background: #4d5bf9;
}

// .navigation ul li:hover {
//   background: #fff;
// }

.navigation ul li:active,
.navigation ul li:hover {
  background: #fff;
}

// .navigation ul li:hover b:nth-child(1),
// .navigation ul li:hover b:nth-child(2) {
//   display: block;
// }
.navigation ul li:active b:nth-child(1),
.navigation ul li:active b:nth-child(2),
.navigation ul li:hover b:nth-child(1),
.navigation ul li:hover b:nth-child(2) {
  display: block;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;

}

// .navigation ul li:hover a {
//   color: #333;
// }

.navigation ul li:active a,
.navigation ul li:hover a {
  color: #333;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.5em
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}

@media (max-width: 600px) {
  .navigation {
    width: 70px;
    overflow-x: hidden;
  }
}
// .sidebar {
//   margin: 0;
//   padding: 0;
//   width: 200px;
//   background-color: #f1f1f1;
//   position: fixed;
//   height: 100%;
//   overflow: auto;
//   position: flexed;
//   top: 0;
//   left: 0;
//   float: left;
// }

.content-container {
  display: flex;
  width: 100%;
}

.sidebar {
  position: sticky;
  top: 0px;
  left: 0px;
  height: 80vh;
  background-color: transparent;
}

.nav-list li{
  position: relative;
  margin: 16px 0;
  list-style: none;
  left: -37px;
}

.nav-list li svg {
  margin-right: 17px;
  color: white;
}

.nav-list li a{
  display: flex;
  height: 100%;
  width: 134%;
  padding-left: 32px;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.nav-list li a:hover{
  background: #FFF;
}
.nav-list li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  // opacity: 0;
  // pointer-events: none;
  transition: 0.4s;
  opacity: 1;
  pointer-events: auto;
}
.nav-list li a:hover .links_name,
.nav-list li a:hover svg{
  transition: all 0.5s ease;
  color: #11101D;
}
