.timeslot {
  border: solid 2px;
  text-align: center;
  border-color: rgb(49, 127, 196);
  background-color: rgb(253, 254, 255);
  padding: 10px 25px;
  margin: 10px;
  width: 400px;
  border-radius: 10px;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.timeslotscontainer {
  padding: 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slots-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 100vh;
  border-radius: 3%;
  padding: 30px;
}

.divider {
  height: 10px;
  width: 100%;
}
