// .timeslot {
//   background: #1EDD88;
//   padding: 10px 25px;
//   color: white;
//   border-radius: 10px;
//   transition: 0.7s;
//   margin-bottom: 10px;
//   &:hover {
//     filter: brightness(130%);
//     color: rgb(0, 0, 0);
//   }
// }

.current-meeting {

  margin-top: 40px;
  margin-bottom: 40px;
  min-width: 300px;
  max-width: 500px;
  height: auto;
  border-radius: 30px;
  background: #fff;
  box-shadow: 15px 15px 30px #bebebe,
              -15px -15px 30px #ffffff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px;





  // color: rgb(0, 0, 0);
  // background-color: rgb(255, 255, 255);
  // border-radius: 15px;
  // margin: 20px 10px;
  // box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
  // padding: 30px;
  // text-align: center;
  // height: auto;
  // max-width: 420px;
  // font-family: 'Poppins', sans-serif;
}
.current-meeting .title {
  margin-top: 20px;
  border-bottom: solid 2px gray;
  padding-bottom: 5px;
  color: rgb(66, 27, 27);
}

.current-meeting .date {
  margin-top: 30px;
  display: flex;
  .icon {
    line-height: 32px;
    margin-right: 5px;
    font-size: 20px;
  }
  p {
    font-size: 18px;

  }
}

.current-meeting .time {
  text-align: left;
  margin-top: 10Px;
  padding-bottom: 10px;
  border-bottom: solid 1px gray;
}

.current-meeting .description {
  margin-top: 15px;
  display: flex;
  text-align: justify;
  .icon {
  line-height: 35px;
  margin-right: 20px;
  font-size: 20px;
  }
  p {
    font-size: 18px;
  }
}

.current-meeting .attendees {
  display: flex;
  text-align: left;
  text-align: start;
  margin-top: 20px;
  border-top: solid 1px gray;
  padding-top: 5px;
  padding-bottom: 5px;
  p {
    font-size: 15px;
  }
  ul li {
    list-style: none;
    padding-left: -1rem !important;
  }
}

.current-meeting .organiser {
  display: flex;
  text-align: left;
  text-align: start;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  p {
    font-size: 12px;
  }
}

.timeslot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  border-radius: 16px;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: #1DC9A0;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.15s linear;
}

.timeslot:hover {
  background-color: rgba(29, 201, 160, 0.08);
  border-color: #1DC9A0;
  color: #1DC9A0;
  transform: translateY(-5px) scale(1.05);
}

.timeslot:active {
  background-color: transparent;
  border-color: #1DC9A0;
  color: #1DC9A0;
  transform: translateY(5px) scale(0.95);
}

.timeslot:disabled {
  background-color: rgba(255, 255, 255, 0.16);
  color: #8E8E93;
  border-color: #8E8E93;
}

.slots {

  margin-top: 40px;
  margin-bottom: 40px;
  min-width: 300px;
  max-width: 500px;
  height: auto;
  border-radius: 30px;
  background: #fff;
  box-shadow: 15px 15px 30px #bebebe,
              -15px -15px 30px #ffffff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px;


  // color: rgb(0, 0, 0);
  // background-color: rgb(255, 255, 255);
  // border-radius: 15px;
  // margin: 20px 10px;
  // box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
  // padding: 30px;
  // text-align: center;
  // max-width: 500px;
  H1 {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: solid 2px gray;
    padding-bottom: 5px;
    color: rgb(66, 27, 27);
  }
}


.slots-wrapper {
  display: flex;
  justify-content: space-around;
  height: 103vh;
  border-radius: 3%;
  padding: 30px;
  background: #e0e0e0;
  flex-grow: 1;
  max-height: 760px;
  p {
    font-size: 20px;
  }
}

.divider {
  height: 10px;
  width: 100%;
}

.project-info {
  padding-top: 35px;
  padding-bottom: 40px;
}

.event-dates {
  padding-top: 15px;
  padding-bottom: 15px;
}

.slots-scroller {
  height: 460px;
  overflow: auto;
  overflow-y: visible;
}

.all-the-slots {
  display: flex;
  flex-direction: column;
  align-items: center;
}
