// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple_calendar";
@import "flatpickr/dist/themes/material_blue";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/dashboard";
@import "pages/edit";


body {
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;

  background: rgb(2,0,36);
  background: linear-gradient(32deg, rgba(2,0,36,1) 0%, rgba(48,22,148,1) 28%, rgba(0,212,255,1) 100%);

}
